body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url('SunsetPic.jpg');
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

header {
    background-color: #38014f;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.intro-section, .projects-section, .contact-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects-section .project {
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: #ddd;
}

.navigation label {
    cursor: pointer;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #bbb;
}

#slide1:checked ~ .slides {
    transform: translateX(0);
}

#slide2:checked ~ .slides {
    transform: translateX(-100%);
}

#slide3:checked ~ .slides {
    transform: translateX(-200%);
}

#slide4:checked ~ .slides {
    transform: translateX(-300%);
}

.contact-image {
    width: 200px; 
    height: auto; /* Maintain aspect ratio */
    float: right;
}

.contact-section {
    display: flex;
    align-items: flex-start; /* Align items at the start of the flex container */
}

.contact-information {
    flex: 1; /* Take remaining space */
}

.contact-image {
    margin-left: 20px;
    width: 200px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
}